$logoHeight: 150px;
$radius: 0;

@mixin radius {
  border-radius: $radius;
}

html, body {
  height: 100%
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1, h2, h3, h4, h5, figure, figcaption {
  margin: inherit;
}

.top-bar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  height: $logoHeight - 10px;
}

.logo {
  display: block;
  max-height: $logoHeight;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 40px;
  padding-top: $logoHeight + 40px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: $logoHeight;
}

@media only screen and (min-width: 576px) {
  .logo {
    max-height: $logoHeight + 50px;
  }
  .top-bar {
    height: $logoHeight + 40px;
  }

  .content {
    margin-top: inherit;
    flex-direction: row;
  }
}

.album {
  text-align: center;
  margin: 0 0 20px;
}

.album-cover {
  display: block;
  width: 500px;
  height: 500px;
  border-radius: $radius;
  margin: 0 0 40px;
}

ul.audio {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    margin: 12px 0;
  }
}

.button {
  display: inline-block;
  padding: 14px 24px;
  font-size: 18px;
  @include radius;
  text-transform: uppercase;
  font-weight: bold;
  //background: black;
  border: 3px solid black;
  //color: #fff;
  &:hover {
    background: #000000;
    color: #fff;
  }
}
